# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# environment
.env
.env.local
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# AWS CDK
cdk.out/
.cdk.staging/

# 번역 캐시
.translation-cache/

# IDE
.vscode/
.idea/
.DS_Store
